@use "../../../styles/function" as *;
@use "../../../styles/variables" as *;

.container {
  width: 100%;
  height: 100%;
  @include flex(column, $justify-content: flex-start, $gap: vh(16px));
  overflow: hidden;
  padding: 0 30px;
  .header {
    width: 100%;
    padding: vh(68px) 0 vh(2px) 0;
    background-color: white;
    z-index: 1;
    margin-bottom: vh(30px);
    img {
      width: rem(89px);
    }
  }

  .plan-banner {
    @include flex(column);
    width: 100%;
    position: relative;
    padding: vh(26px) 25px vh(17px) 25px;
    border-radius: 17px;
    background: rgba($color-primary, 0.8);
    overflow: hidden;
    .plan-banner-bubble {
      background: rgba(234, 229, 249, 0.4);
      mix-blend-mode: soft-light;
      position: absolute;
      border-radius: 100px;
      width: 71px;
      height: 71px;
      top: 19px;
      right: -5px;
      &:nth-child(2) {
        width: 36px;
        height: 36px;
        top: 45px;
        left: 12px;
      }
      &:nth-child(3) {
        width: 14px;
        height: 14px;
        top: 19px;
        left: 41px;
      }
    }

    .plan-banner-content {
      @include flex(column);
      color: #fff;
      text-align: center;
      line-height: 22px;
      letter-spacing: -0.4px;
      font-size: 1rem;
      width: 100%;
      .plan-banner-headline {
        font-size: rem(20px);
        font-weight: 700;
        letter-spacing: -0.5px;
        margin-bottom: vh(6px);
      }
      .plan-banner-caption {
        color: #f9f9f9;
        font-weight: 500;
        margin-bottom: vh(16px);
      }
      .plan-banner-button {
        @include hoverEvent();
        background: #fff;
        width: 100%;
        padding: 10px;
        border-radius: 100px;
        color: $color-primary;
        font-weight: 600;
        border-radius: 100px;
      }
    }
  }

  .mypage-blank {
    width: 100%;
    height: vh(14px);
  }

  .list-content {
    @include flex(column, $justify-content: flex-start);
    padding: vh(10px) 0;
    width: 100%;
    position: relative;
    background: #f3f3f3;
    border-radius: 17px;
  }
}

.icon {
  width: 20px;
  height: 20px;
}
