@use "@/styles/function" as *;
@use "@/styles/variables" as *;

.container {
  @include flex();
  width: 100%;
  height: 100%;
  .header {
    @include flex($align-items: flex-end, $justify-content: space-between, $gap: 20px);
    width: 100%;
    height: vh(110px);
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.04);
    z-index: 1;
    position: absolute;
    top: 0;
    color: #747474;
    padding: vh(16px) 20px;
    .icon {
      @include hoverEvent(0.6);
      width: 24px;
      height: 24px;
    }
    .headerTitle {
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: -0.5px;
    }
    .blank {
      width: 24px;
      height: 24px;
    }
  }

  .content {
    @include flex(column, $gap: 25px);
    width: 100%;
    padding-bottom: vh(30px);
    .emptyWrpper {
      @include flex(column);
      padding: vh(43px) 0 0 0;
      width: 100%;
      position: relative;

      .caption {
        position: absolute;
        bottom: 0;
        color: #878787;
        font-size: rem(18px);
        font-weight: 500;
        letter-spacing: -0.45px;
      }
    }
  }

  .planButton {
    @include flex();
    @include hoverEvent(0.9);
    background: white;
    padding: 13px 22px;
    border-radius: 14px;
    border: 1px solid #818181;
    color: #818181;
    font-size: rem(19px);
    font-weight: 500;
    letter-spacing: -0.475px;
  }
}
