@use "../../../styles/function" as *;
@use "../../../styles/variables" as *;

@mixin blur() {
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px); // 블러 강도
  -webkit-backdrop-filter: blur(1px); // 사파리 호환
}

@mixin hoverEvent() {
  filter: brightness(1);
  transition: filter 0.3s ease;
  &:hover {
    filter: brightness(0.9);
    cursor: pointer;
  }
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
  .backvideo {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
  }
  .fullScreenBlur {
    @include blur();
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .overlay {
    @include flex(column, $justify-content: flex-start);
    position: absolute;
    width: 100%;
    height: 100%;
    color: #fff;

    .overlayHeader {
      @include flex($justify-content: space-between);
      width: 100%;
      padding: vh(80px) 30px vh(5px) 30px;
      z-index: 3;
      .icon {
        @include hoverEvent();
        color: white;
        width: 40px;
        height: 40px;
      }
    }

    .contents {
      @include flex();
      position: relative;
      width: 100%;
      height: 100%;
      .blur {
        min-width: 30px;
        height: 100%;
      }
      .captureArea {
        @include flex(column, flex-end, space-between);
        position: relative;
        width: 100%;
        height: 100%;
        .video {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          z-index: 2;
          object-fit: cover;
        }
        .title {
          @include flex(column, $gap: 8.5px);
          position: absolute; // 비디오와 겹치게 캡쳐되기 위해 설정
          top: vh(30px);
          width: 100%;
          text-align: center;
          font-weight: 600;
          letter-spacing: -0.45px;
          z-index: 3;
          .headline {
            font-size: rem(18px);
          }
          .address {
            font-size: rem(12px);
          }
        }

        .card {
          @include flex(column, $gap: 10px);
          z-index: 3;
          position: absolute; // 비디오와 겹치게 캡쳐되기 위해 설정
          bottom: vh(30px);
          right: 30px;
          .img {
            width: auto; // 캡쳐 시 눌리는 오류 수정
            height: vh(174px);
            z-index: 3;
          }
          .message {
            @include flex();
            position: relative;
            background: white;
            padding: vh(14.491px) 10.603px;
            border-radius: 23.291px;
            max-width: 147px;
            span {
              text-align: center;
              font-size: rem(12.37px);
              font-weight: 600;
              letter-spacing: -0.309px;
              color: #4b4a4a;
            }
            &::before {
              content: "";
              position: absolute;
              bottom: -6px; // 캡쳐 시 살짝 띄어져 있는 오류 수정
              left: 50%;
              transform: translateX(-50%);
              width: 0px;
              height: 0px;
              border-top: 10px solid white;
              border-left: 17px solid transparent;
              border-right: 17px solid transparent;
            }
          }
        }
      }
    }

    .bottom {
      @include flex(column, center, flex-start);
      padding-bottom: vh(75px);
      width: 100%;
      z-index: 3;
      .caption {
        margin-top: vh(18px);
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: -0.4px;
        text-align: center;
      }

      .shutter {
        @include hoverEvent();
        margin-top: vh(25px);
        border-radius: 100px;
        border: 8px solid #7e5bf0;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.12) 0%, rgba(0, 0, 0, 0.12) 100%), #f7f7f7;
        width: 82px;
        height: 82px;
      }
    }
  }
}
