@use "../../../styles/function" as *;
@use "../../../styles/variables" as *;

@mixin hoverEvent() {
  filter: brightness(1);
  transition: filter 0.3s ease;
  &:hover {
    filter: brightness(0.9);
    cursor: pointer;
  }
}

.container {
  @include flex(column, $justify-content: space-between);
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  .header {
    @include flex($align-items: flex-end, $justify-content: space-between, $gap: 20px);
    width: 100%;
    height: vh(110px);
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.04);
    z-index: 1;
    color: #747474;
    padding: vh(16px) 20px;
    .backIcon {
      width: 24px;
      height: 24px;
      transition: filter 0.3s ease;
      &:hover {
        cursor: pointer;
        filter: brightness(0.9);
      }
    }
    .header-title {
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: -0.5px;
    }
    .blank {
      width: 24px;
      height: 24px;
    }
  }

  img {
    width: auto;
    height: vh(590px);
  }

  .buttonWrapper {
    @include flex($gap: 14px);
    width: 100%;
    padding: vh(30px) 30px;
    .button {
      @include flex($gap: 10px);
      @include hoverEvent();
      display: flex;
      width: 100%;
      height: vh(64px);
      padding: 16px 30px;
      gap: 10px;

      font-size: 1rem;
      font-weight: 600;
      letter-spacing: -0.4px;
      border-radius: 12px;
      &.down {
        color: #7564ac;
        background: #e3dff3;
      }
      &.share {
        color: #fff;
        background: linear-gradient(90deg, #534bbf 0%, #8265e3 100%);
      }
      .icon {
        width: 24px;
        height: 24px;
      }
    }
  }
}
