@use "@/styles/function" as *;
@use "@/styles/variables" as *;

.container {
  width: 100%;
  height: 100%;
  @include flex(column, $justify-content: flex-start, $gap: vh(16px));
  overflow: hidden;
  padding: 0 30px;
  .header {
    width: 100%;
    padding: vh(68px) 0 vh(2px) 0;
    background-color: white;
    z-index: 1;
    margin-bottom: vh(30px);
    img {
      width: rem(89px);
    }
  }

  .collection-button {
    @include flex();
    @include hoverEvent(0.6);
    padding: rem(15px) rem(30px);
    width: 100%;
    border-radius: 14px;
    background: rgba($color-primary, 0.2);
    color: $color-primary;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: -0.4px;
  }

  .list-content {
    @include flex(column, $justify-content: flex-start);
    padding: vh(10px) 0;
    width: 100%;
    position: relative;
    background: #f3f3f3;
    border-radius: 17px;
  }
}

.icon {
  width: 20px;
  height: 20px;
}
