@use "@/styles/_variables" as *;
@use "@/styles/_function" as *;

.chatbot-screen {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  background: #fff;
  color: $color-font-main;
}

.chatbot-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: sticky;
  top: 0;
  width: 100%;
  height: vh(110px);
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.04);
  z-index: 1;
  color: #747474;
  padding: vh(18px) 27px;
  position: relative;

  .headerTitle {
    width: 100%;
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    color: #747474;
    font-size: rem(20px);
    font-weight: 600;
    letter-spacing: -0.5px;
  }

  .icon {
    position: absolute;
    left: rem(20px);
    width: rem(24px);
    height: rem(24px);
    z-index: 1;
    cursor: pointer;
    @include hoverEvent(0.5);
  }
}

.message-list {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  padding: rem(20px);
  display: flex;
  flex-direction: column;
  gap: rem(6px);
}

.bot-profile {
  display: flex;
  align-items: center;
  gap: rem(10px);
  margin: rem(8px) 0 rem(4px);

  .bot-avatar {
    width: rem(40px);
    height: rem(40px);
    border-radius: 50%;
    object-fit: cover;
    background: #f3f3f3;
  }

  .bot-name {
    font-size: rem(16px);
    font-weight: 600;
    color: #000000;
    line-height: rem(24px);
  }
}

.bubble {
  max-width: 80%;
  padding: rem(12px) rem(18px);
  border-radius: rem(20px);
  font-size: rem(14px);
  line-height: rem(22px);
  white-space: pre-line;
  word-break: break-word;
  overflow-wrap: break-word;

  &.bot {
    align-self: flex-start;
    border-radius: 0 rem(20px) rem(20px) rem(20px);
    background: #f0f0f0;
    color: #333;
  }
  &.user {
    align-self: flex-end;
    border-radius: rem(20px) 0 rem(20px) rem(20px);
    background: #836ecc;
    color: #fff;
  }
  &.typing {
    opacity: 0.85;
  }
}

.bubble.bot + .bubble.user,
.bubble.user + .bubble.bot {
  margin-top: 30px;
}

// 수정 예정
.card-wrapper {
  align-self: stretch;
}

.choices {
  display: flex;
  flex-wrap: wrap;
  gap: rem(8px);

  .chip {
    padding: rem(14px) rem(18px);
    border-radius: rem(100px);
    background: #f0f0f0;
    color: #878787;
    border: none;
    font-weight: 600;
    cursor: pointer;

    &.primary {
      background: linear-gradient(94deg, #8b75d3 3.49%, #6c4fcc 110.23%);
      box-shadow: 0 rem(4px) rem(4px) 0 rgba(0, 0, 0, 0.04);
      color: #fff;
    }
  }
}

.chat-input {
  position: sticky;
  bottom: 0;
  display: flex;
  align-items: flex-end;
  gap: rem(20px);
  padding: rem(16px) rem(12px) rem(34px) rem(30px);
  border: 1px solid #f0f0f0;
  background: #fff;
  box-shadow: 0 -4px 4px 0 rgba(0, 0, 0, 0.02);

  textarea.chat-textarea {
    flex: 1;
    padding: rem(16px) rem(20px);
    border: 1px solid #f0f0f0;
    border-radius: rem(20px);
    font-size: rem(17px);
    font-weight: 500;
    outline: none;
    background: #f0f0f0;
    color: #2a2a2a;
    opacity: 0.7;

    resize: none;
    min-height: rem(50px);
    max-height: rem(150px);
    overflow-y: auto;
    line-height: 1.4;

    &::placeholder {
      color: #868686;
    }
  }

  .send-btn {
    align-self: flex-end;
    display: flex;
    justify-content: center;
    width: rem(40px);
    height: rem(40px);
    border: none;
    background: transparent;
    cursor: pointer;
    color: #2a2a2a;

    .send-icon {
      width: rem(24px);
      height: rem(24px);
    }

    &:disabled {
      color: #939393;
      cursor: not-allowed;
    }
  }
}
