@use "../../styles/function" as *;
@use "../../styles/variables" as *;

.footer {
  @include flex();
  width: min(100vw, 430px);
  border-radius: 30px 30px 0 0;
  background: #fff;
  border: 1px solid #f0f0f0;
  box-shadow: 0 -4px 4px 0 rgba(0, 0, 0, 0.02);
  height: 100px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  .item {
    padding: rem(20px) 0 rem(30px) 0;
    flex: 1 1 0;
    // Link
    a {
      @include flex(column, $gap: rem(5px));
      color: $color-footer-gray;
      text-align: center;
      font-size: rem(14px);
      font-weight: 600;
      letter-spacing: -0.275px;
      text-decoration: none;
      @include hoverEvent(0.8);
      .icon {
        width: rem(24px);
        height: rem(24px);
      }
    }
    .active {
      color: $color-footer-primary;
    }
  }
}
