@use "@/styles/function" as *;
@use "@/styles/variables" as *;

.collection {
  @include flex(column, $justify-content: flex-start);
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;

  &.list {
    height: fit-content;
    padding-top: vh(154px);
    padding-bottom: 118px;
  }

  &.none {
    height: 100%;
    justify-content: center;
    padding-top: 0;
    padding-bottom: vh(90px);
  }

  .header {
    @include flex($align-items: flex-end, $justify-content: space-between, $gap: 20px);
    width: 100%;
    height: vh(110px);
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.04);
    z-index: 1;
    position: absolute;
    top: 0;
    color: #747474;
    padding: vh(16px) 27px;
    .back-icon {
      @include hoverEvent(0.6);
      width: 24px;
      height: 24px;
    }
    .header-title {
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: -0.5px;
    }
    .blank {
      width: 24px;
      height: 24px;
    }
  }
  .collection-list {
    display: grid;
    grid-template-rows: repeat(5, 100px);
    grid-template-columns: repeat(3, 100px);
    row-gap: vh(44px);
    column-gap: vw(21px);
    .collection-list-item {
      @include flex(column, $justify-content: flex-start, $gap: 10px);
      width: 100%;
      .collection-list-img {
        @include flex();
        @include hoverEvent();
        max-width: 100px;
        max-height: 100px;
        border-radius: 100px;
        background: #f2f2f2;
        img {
          flex: 1 1 auto;
          width: 87px;
          height: 87px;
          border-radius: 100px;
        }
      }
      .collection-list-title {
        color: #686868;
        font-size: rem(15px);
        font-weight: 500;
        letter-spacing: -0.375px;
        text-align: center;
      }
    }
  }
}

.collection-empty {
  @include flex(column);
  padding: vh(43px) 0 0 0;
  width: 100%;
  position: relative;

  .collection-caption {
    position: absolute;
    bottom: 0;
    color: #878787;
    font-size: rem(18px);
    font-weight: 500;
    letter-spacing: -0.45px;
  }
}

.collection-modal {
  position: absolute;
  @include flex(column);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease;
  &.visible {
    opacity: 1;
  }
  .collection-modal-content {
    @include flex(column, flex-end);
    padding-bottom: vh(calc(317px - 272px));
    .collection-message-wrapper {
      @include flex(column, $gap: 9px);
      .collection-caption {
        color: #fff;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: -0.3px;
      }
      .collection-message {
        padding: 19px 14px;
        width: 100%;
        border-radius: 23px;
        background: #fff;
        position: relative;
        text-align: center;
        span {
          font-size: 16px;
          font-weight: 600;
          letter-spacing: -0.4px;
          background: linear-gradient(270deg, #4b4a4a 0%, #6d6c6c 100%);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        &::before {
          content: "";
          position: absolute;
          bottom: -12px;
          left: 50%;
          transform: translateX(-50%);
          width: 0px;
          height: 0px;
          border-top: 13px solid white;
          border-left: 23px solid transparent;
          border-right: 23px solid transparent;
        }
      }
    }
  }
}
