@use '../../../../styles/function' as *;

.brand-heading {
  padding: rem(0px) rem(20px) rem(33px);
}
.brand-logo {
  width: rem(89px);
  height: rem(25px);
  display: block;
  margin-bottom: rem(16px);
}
.brand-title {
  font-size: rem(32px);
  color: #2A2A2A;
  line-height: rem(44px);
  font-weight: 700;
  white-space: pre-line;
}
