@use "../../../../styles/function" as *;
@use "../../../../styles/variables" as *;

.signup-form {
  max-width: rem(420px);
  margin: 0;
  padding: 0 rem(30px) rem(28px);
}

.form-field {
  margin-bottom: rem(14px);
  position: relative;
}

.form-label {
  display: block;
  font-size: rem(14px);
  font-weight: 500;
  color: $color-font-main;
  margin: rem(30px) 0 rem(6px);
}

.input {
  width: 100%;
  padding: rem(18px) rem(20px) rem(18px) rem(17px);
  border: rem(1px) solid #cfcfcf;
  border-radius: rem(12px);
  font-size: rem(14px);
  font-weight: 500;

  &::placeholder {
    color: #cfcfcf;
  }

  &:focus {
    outline: none;
    border-color: $color-primary;
  }
}

.field-error {
  margin-top: rem(6px);
  font-size: rem(11px);
  line-height: rem(14px);
  color: #ea3939;
}

.row {
  display: flex;
  gap: rem(10px);
}

.btn {
  padding: rem(12px) rem(16px);
  border-radius: rem(12px);
  border: rem(1px) solid transparent;
  cursor: pointer;

  &.primary {
    background: $color-primary;
    color: #ffffff;
    width: 100%;
    height: rem(64px);
    margin-top: rem(90px);
    font-size: rem(16px);
    font-weight: 600;
  }

  &.ghost {
    height: rem(48px);
    padding: 0 rem(30px);
    white-space: nowrap;
    background: #f0f0f0;
    color: #696969;
  }
}

.btn-enabled {
  background-color: $color-primary;
  color: #fff;
  opacity: 1;
  transition:
    opacity 0.2s ease,
    filter 0.2s ease;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      filter: brightness(0.95);
    }
    &:active {
      filter: brightness(0.9);
    }
  }
}

.btn-disabled,
button:disabled {
  background-color: $color-primary;
  color: #fff;
  opacity: 0.4;
  cursor: not-allowed;
}

.btn-disabled:hover,
.btn-disabled:active,
button:disabled:hover,
button:disabled:active {
  filter: none;
}
