@use "../../../../styles/function" as *;
@use "../../../../styles/variables" as *;

.signup-select {
  padding: rem(66px) rem(30px) rem(28px);

  .next-btn {
    margin-top: rem(135px);
  }
}

.select-card {
  width: 100%;
  text-align: left;
  padding: rem(32px) rem(30px);
  border-radius: rem(15px);
  border: rem(1px) solid #f0f0f0;
  background: #f0f0f0;
  font-size: rem(20px);
  font-weight: 600;
  color: #cbcbcb;
  margin-bottom: rem(14px);
  cursor: pointer;
  transition:
    border-color 0.2s ease,
    background-color 0.2s ease,
    color 0.2s ease;

  &.active {
    background: rgba($color-primary, 0.08);
    border-color: $color-primary;
    color: $color-primary;
  }
}
