@use "@/styles/_variables" as *;
@use "@/styles/_function" as *;

.qrmodal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.qrmodal-panel {
  width: 80%;
  max-width: rem(360px);
  background: #fff;
  border-radius: rem(22px);
  padding: rem(38px) rem(30px) rem(28px);
  box-shadow: 0 rem(4px) rem(12px) rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.qrmodal-content {
  width: 100%;
  text-align: center;
}

.qrmodal-step {
  display: flex;
  align-items: flex-start;
  gap: rem(14px);
  margin-bottom: rem(10px);

  .step-num {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: rem(28px);
    height: rem(28px);
    border-radius: 50%;
    background: $color-primary;
    color: #fff;
    font-size: rem(16px);
    font-weight: 600;
    flex-shrink: 0;
  }

  p {
    font-size: rem(16px);
    font-weight: 600;
    color: $color-font-main;
    text-align: left;
    line-height: rem(24px);
    margin: 0;
  }
}

.qrmodal-footerimgwrap {
  display: flex;
  justify-content: center;
  margin: 0 rem(20px) rem(29px);

  .qrmodal-footerimg {
    width: 100%;
    max-width: rem(240px);
    height: auto;
  }
}

.qrmodal-qrwrap {
  margin: rem(16px) 0;
  display: flex;
  justify-content: center;

  .qrmodal-qr {
    width: rem(76px);
    height: rem(76px);
  }
}

.qrmodal-button {
  width: 100%;
  background: $color-primary;
  color: #fff;
  padding: rem(16px) rem(30px);
  border-radius: rem(10px);
  font-weight: bold;
  font-size: rem(15px);
  border: none;
  cursor: pointer;
  margin-top: rem(12px);

  &:hover {
    filter: brightness(0.95);
  }
}

.qrmodal-footer {
  margin-top: rem(12px);

  .qrmodal-link {
    background: none;
    border: none;
    color: #fff;
    font-size: rem(14px);
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
  }
}
